.header {
  padding-top: 30px;
  padding-bottom: 30px;

  &-logo {
    max-width: 168px;
  }
}

// Categories Start

.header {
  .app-menu-categories__button {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 20px;
    height: 20px;

    border-radius: 4px;
    border: 1px solid #e4e4e4;

    transition: background-color 0.2s ease;

    &:hover {
      background-color: #e4e4e4;
    }
  }
  &-menu {
    display: flex;
    align-items: center;
    column-gap: 40px;

    &__link {
      display: flex;
      align-items: center;
      column-gap: 6px;

      position: relative;

      font-family: $dm;
      font-size: 14px;
      font-weight: 600;
      color: $black;
      text-decoration: none;

      cursor: pointer;
      transition: color 0.25s ease;

      @media screen and (max-width: 768px) {
        flex-direction: column;
        align-items: flex-start;
      }

      a {
        color: $black;
        text-decoration: none;

        cursor: pointer;
        transition: color 0.25s ease;

        &:hover {
          color: #1617a7;
        }
      }

      &:hover {
        color: #1617a7;

        & > .header-menu-dropdown {
          opacity: 1;
          visibility: visible;
        }
      }

      &-label {
        display: flex;
        align-items: center;
        column-gap: 8px;

        svg {
          width: 14px;
          height: 14px;

          will-change: transform;
          transition: transform 0.5s ease;
        }
      }
    }

    &-dropdown {
      position: absolute;
      z-index: 2;

      display: flex;
      flex-direction: column;
      visibility: hidden;

      min-width: 18vw;

      padding: 22px 0;
      background-color: #fff;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      border-radius: 4px;

      opacity: 0;
      transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
    }

    &-categories {
      top: calc(100%);
      left: 0;

      .header-menu__link {
        padding: 10px 30px;

        &-label {
          display: flex;
          align-items: center;
          justify-content: space-between;

          svg {
            transform: rotate(-90deg);
          }
        }
      }
    }

    &-subcategories {
      top: 0;
      left: 100%;
    }
  }
}

// Categories End

.header-mobile__btn {
  width: 26px;

  position: relative;

  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 4px;

  .line {
    width: 100%;
    height: 2px;

    background-color: $black;
  }
}

.header-mobile-close {
  .line {
    position: absolute;
    top: 50%;
    &:nth-child(1) {
      transform: rotate(45deg);
    }
    &:nth-child(2) {
      transform: rotate(-45deg);
    }
  }
}

.header-mobile {
  position: fixed;
  top: 0;
  z-index: 2;

  width: 100vw;
  height: 100vh;
  padding: 20px;

  background-color: #fff;
  overflow-y: auto;

  transform: translateX(-100%);
  will-change: transform;
  transition: transform 0.5s ease-in-out;

  &.active {
    transform: translate(0);
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding-bottom: 40px;
  }

  &__menu {
    display: flex;
    flex-direction: column;

    .header-menu__link {
      font-size: 18px;
      padding: 20px 0;
      border-bottom: 1px solid rgba($black, 0.05);

      &-label {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
      }
    }
  }

  .header-menu-categories {
    position: relative;
    left: initial;
    top: initial;
    box-shadow: none;
    padding-left: 12px;

    visibility: visible;
    display: none;

    animation: collapse 500ms ease-in-out both;

    &.active {
      display: flex;
      animation: expand 500ms ease-in-out both;
      width: 100%;

      svg {
        transform: rotate(360deg);
      }
    }
  }

  .header-menu-subcategories {
    position: relative;
    left: initial;
    top: initial;
    z-index: -2;
    box-shadow: none;
    padding-left: 12px;

    visibility: visible;
    display: none;

    animation: collapse 500ms ease-in-out both;

    &.active {
      display: flex;
      z-index: 2;
      width: 100%;

      animation: expand 500ms ease-in-out both;
    }
  }
}

@keyframes expand {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes collapse {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
