.loader {
  width: 48px;
  height: 48px;
  border: 3px solid #fff;
  border-bottom-color: $accent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader-container {
  width: 90vw;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}
