.departments-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  column-gap: 24px;

  margin-top: 24px;

  @media screen and (max-width: 768px) {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    row-gap: 12px;
  }
}

.department-card {
  position: relative;
  overflow: hidden;

  &:nth-child(1) {
    &:before {
      animation-delay: 0.1s;
    }
  }

  &:nth-child(2) {
    &:before {
      animation-delay: 0.5s;
    }
  }

  &:nth-child(3) {
    &:before {
      animation-delay: 1s;
    }
  }

  &::before {
    content: "";

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: lighten(#2a5ca7, 52%);
    z-index: 99999;

    animation: moveOverlay 1.5s ease 1 both;

    @media screen and (max-width: 768px) {
      animation: moveOverlayMobile 1.5s ease 1 both;
    }
  }

  &:nth-child(1) {
    .department-card__image-wrapper {
      animation-delay: 0.1s;
    }
  }

  &:nth-child(2) {
    .department-card__image-wrapper {
      animation-delay: 0.5s;
    }
  }

  &:nth-child(3) {
    .department-card__image-wrapper {
      animation-delay: 1s;
    }
  }

  &__image-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 75vh;

    position: relative;

    opacity: 0;

    animation: showContent 1.5s ease 0.05s 1 both;

    @media screen and (max-width: 768px) {
      animation: showContentMobile 1.5s ease 0.05s 1 both;
      height: 26vh;
    }

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.4);
    }

    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    video.center {
      width: 200%;
      transform: translateX(-15%);

      @media screen and (max-width: 768px) {
        width: 100%;
        transform: translateX(0);
      }
    }
  }

  &__title {
    position: absolute;
    z-index: 999;
    top: 50%;
    transform: translateY(-50%);

    font-family: $montserrat;
    font-size: 36px;
    font-weight: bold;
    color: #fff;
    line-height: 26px;
    text-transform: uppercase;

    transition: all 0.5s ease;

    @media screen and (max-width: 768px) {
      font-size: 24px;
    }
  }

  &__button {
    position: absolute;
    top: 55%;
    transform: translateY(-55%);

    width: 0;
    height: 40px;
    opacity: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid #fff;
    overflow: hidden;

    transition: all 0.5s ease;

    span {
      font-family: $montserrat;
      font-size: 16px;
      font-weight: 500;
      color: #fff;
      text-decoration: none;

      transform: translateY(100%);

      opacity: 0;
    }
  }

  @media (hover: hover) {
    &:hover {
      .department-card__title {
        top: 40%;
      }

      .department-card__button {
        animation: growButton 1.5s ease 1 both;
      }

      .department-card__button span {
        animation: growButtonText 0.5s ease 1 both;
        animation-delay: 0.5s;
      }
    }
  }
}

@keyframes showContent {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes moveOverlay {
  0% {
    transform: translateY(100%);
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}

@keyframes showContentMobile {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveOverlayMobile {
  0% {
    transform: translateX(100%);
  }
  50% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes growButton {
  0% {
    width: 0;
    opacity: 0;
  }
  50% {
    width: 200px;
  }
  100% {
    width: 200px;
    opacity: 1;
  }
}

@keyframes growButtonText {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
