.button {
  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
  z-index: 1;

  height: 44px;

  padding: 0 30px;

  font-family: $dm;
  font-size: 12px;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;

  transition: color 0.25s ease;

  &::before {
    content: '';

    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;

    width: 0;
    height: 100%;

    transition: width 0.25s ease;
  }

  &--white {
    color: #fff;
    background-color: transparent;
    border: 1px solid #fff;

    &:before {
      background-color: #fff;
    }

    &:hover {
      color: $black;
      &::before {
        width: 100%;
      }
    }
  }

  &--black {
    color: $black;
    background-color: transparent;
    border: 1px solid $black;

    &:before {
      background-color: $black;
    }

    &:hover {
      color: #fff;
      &::before {
        width: 100%;
      }
    }
  }

  &--black.button--filled {
    color: #fff;
    background-color: $black;
    border: 1px solid $black;

    &:before {
      background-color: #fff;
    }

    &:hover {
      color: $black;
      &::before {
        width: 100%;
      }
    }
  }
}
