@import "./fonts";
@import "./grid.css";
@import "./general";

// ---------------
// Components
// ---------------

@import "./components/app/header";
@import "./components/app/footer";
@import "./components/app/page-banner";
@import "./components/app/modal";
@import "./components/app/success-modal";
@import "./components/app/error-modal";
@import "./components/app/pagination";

@import "./components/category/card";

@import "./components/banners/main-banner";
@import "./components/banners/about-banner";
@import "./components/buttons/button";

@import "./components/product/card";
@import "./components/post/card";

@import "./components/search/search-products";
@import "./components/app/loader";

@import "./components/videos/videos.scss";
@import "./components/departments/card.scss";

@import "./components/app/mega-menu";

// ---------------
// Pages
// ---------------

@import "./pages/home/portfolio";
@import "./pages/home/products";
@import "./pages/home/posts";
@import "./pages/home/departments";

@import "./pages/news/news";
@import "./pages/contact-us/contact-us";
@import "./pages/partners/partners";
@import "./pages/company/company";
@import "./pages/category/category";
@import "./pages/product/product";
@import "./pages/posts/posts";
@import "./pages/search/search";

@import "./pages/index/index.scss";

@import "./pages/career/career.scss";

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

body {
  overflow-x: hidden;
}

ul {
  margin-inline-start: 16px !important;
}
