.main-page {
  width: 100vw;
  height: 100vh;

  overflow: hidden;

  display: flex;
  flex-direction: column;

  @media screen and (max-width: 768px) {
    height: auto;
    overflow-y: auto;

    padding-bottom: 40px;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 4vh 0;

    @media screen and (max-width: 768px) {
      padding-bottom: 0;
    }
  }

  &__logo {
    display: block;
    width: 12vw;

    margin-right: 2vw;

    opacity: 0;
    animation: showLogo 2s 0.5s ease 1 both;
    transition: transform 0.5s ease;

    @media screen and (max-width: 768px) {
      width: 35vw;
    }

    &:hover {
      transform: scale(1.1);
    }

    svg {
      width: 100%;
      height: 100%;
      object-fit: cover;

      .molecule {
        animation: moveMolecule 5s linear infinite alternate;
      }
    }
  }
}

@keyframes showLogo {
  from {
    scale: 0.8;
    filter: blur(2px);
    opacity: 0;
  }
  to {
    scale: 1;
    filter: blur(0);
    opacity: 1;
  }
}

@keyframes moveMolecule {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(0, 5px);
  }
}
